#html output from optimizer
output/
hardware\ version/output/

#hex files for loading into emulator or ROM
*.hex

#.swp files from editing in vim
*.swp
src/*.swp

# various output and intermediate files
asm.txt
combined.asm
hex.txt
main.err
main.i
output.txt
processed.asm
processed.i
processed.lst
processed.map
processed.p
src/*.err

#randomized tests - large file size
#actually, randomized tests moved to node.js port
#input.txt

#documents downloaded from elsewhere
ref\ docs/

#randomized test data
decimal\ test/input*.txt
decimal\ test/*/input*.txt

#examples that I did not create myself
CORDIC/examples\ from\ HP\ forum/
