	body {
		font-family: Verdana, Geneva, sans-serif;
		/*font-family: Arial, Helvetica, sans-serif;*/
		font-size: 14px;
	}
		
	.word_img_caption {
		font-style: italic;
	}
	
	.word_img_figure {
		margin: 0px;
		display: inline-block;
	}
	
	.word_show {
		font-size: 24px;
	}
	
	.word_comment {
		font-style: italic;
	}
	
	.word_type_container {
		
	}
	
	.word_type_title {
		margin-top:5px;
		padding-right: 5px;
		display: inline-block;
	}
	
	.word_type_arg {
		margin-top:5px;
		margin-bottom:6px;
		padding-right: 5px;
		font-style: italic;
		display: inline-block;
	}
	
	.word_type_generic {
		margin-top: 3px;
		margin-bottom: 3px;
		margin-left: 0px;
		margin-right: 2px;
		
		padding-top: 1px;
		padding-bottom: 2px;
		padding-left: 5px;
		padding-right: 5px;
		
		border: 1px solid black;
		border-radius: 5px 5px 5px 5px;
		
		display: inline-block;
	}
	
	.word_type_disabled {
		background-color: #C0C0C0;
		color: #808080;
	}
	
	.word_type_float {
		background-color: #C0FFC0;
		color: #400040;
	}
	
	.word_type_raw_hex {
		background-color: #C0C0FF;
		color: #400040;
	}
	
	.word_type_smart_hex {
		background-color: #FFC0FF;
		color: #400040;
	}
	
	.word_type_string {
		background-color: #FFC0C0;
		color: #400040;
	}
	
	.word_type_note {
		font-style: italics;
	}
	
	.word_description {
		/* background-color: #C0C0FF; */
		/* margin-top: 5px; */
		
	}
	
	.word_description_p {
		/* margin-top: 0px; */
	}
	
	.word_example {
		padding: 5px;
		background-color: #D0D0D0;
		display: inline-block;
	}
	
	.word_see_also {
		background-color: #C0C0FF;
		color: #400040;
		display: inline-block;
	}
	
	